Makefile
config.h
config.log
config.status
data/Makefile
data/pcmanfm.1
data/ui/Makefile
data/ui/about.glade
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
stamp-h1
po/*.gmo
src/pcmanfm
src/xml-purge
pcmanfm.vpj
pcmanfm.vpw
pcmanfm.vpwhistu
pcmanfm.vtg
src/*.o
